.navbar__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 15px 10px 0;
    box-sizing: border-box;
    background-color: #b2dfdb;
}

.navbar__buttons__container {
    display: flex;
}

.table__button, .dashboard__button {
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
    border: 3px solid var(--lightblue);
    color: var(--lightblue);
    border-radius: 5px 5px 0px 0px;
    background-color: white;
}

.dashboard__button {
    margin-right: 0px;
    border: 3px solid var(--pink);
    color: var(--pink);
}

.nav__link {
  text-decoration: none;
}

.logo__container {
  width: 300px;
  font-size: 36px;
  color: #fff;
  margin-left: 5rem;
  display: flex;
  font-family: 'Lobster', cursive;
  justify-content: space-between;
}