.cards__holder__container {
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border: 3px solid var(--lightblue);
    border-radius: 12px;
    background-color: transparent;
    flex-wrap: wrap;
}